<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"> 
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script defer src="/javascripts/app.js"></script>
<head>

<body>

<div class="split left">
</div>
  
<div class="split right">
  <h2>Digital Beauty</h2>
  <p class="title"> Digital Beauty was created to give beauticians and their clients a professional platform to conduct business.<p>
  <p class="title"> This API document was created to demonstrate the functionality of the website.</p>
  <p class="title"> There are 3 models: User, Appointment, and Reviews.</p>

    <button type="button" class="collapsible beaut">User Model</button>
    <div class="content">
    <pre class="prettyprint">
      var userSchema = new Schema({
        name: {type: String, required: true},
        image: String,
        beautician: {type: Boolean, default: false},
        location: String, 
        avlDateandTime: String,
        typeOfService: String,
        price: String, 
        clientImages:[{type:String}],
        description: String, 
      },{
        timestamps: true
    });
    </pre>
    </div>

    <button type="button" class="collapsible beaut">Appointment Model</button>
    <div class="content">
    <pre class="prettyprint">
      var apptSchema = new Schema({
        location: {type: String, required: true}, 
        user: {type: Schema.Types.ObjectId, ref:'User'},
        beautician:{type: Schema.Types.ObjectId, ref:'User'},
      },{
        timestamps: true
    });
    </pre>
    </div>

    <button type="button" class="collapsible beaut">Reviews Model</button>
    <div class="content">
    <pre class="prettyprint">
        const ReviewSchema = new Schema({
          user: {type: Schema.Types.ObjectId, ref:'User'},
          beautician:{type: Schema.Types.ObjectId, ref:'User'},
          content: String, 
          rating: {type: Number, required: false},
        },{
          timestamps: true
      });
    </pre>
    </div>

    <p><span class="user">Everything about the USER</span></p>
    <button type="button" class="collapsible beaut"><span class="method">GET</span>___api/user/____ Search page</button>
    <div class="content">
    <pre class="prettyprint">
        Result: 
        The user would be able to search for a beautician 
        by location and type of service. 
    </pre>
    </div>

      <button type="button" class="collapsible beaut"><span class="method">GET</span>___api/user/search/___Display the users search results</button>
      <div class="content">
      <pre class="prettyprint">
        Result: location: Toronto typeOfService: Makeup Artist
      [
          {
            "beautician": true,
            "clientImages": [
                "avaiable"
            ],
            "_id": "5e7be8ee4524a5f2682f1184",
            "name": "Ilhan Omar",
            "image": "available",
            "location": "Toronto",
            "typeOfService": "MakeupArtist",
            "price": "150",
            "description": "Can start anytime",
            "createdAt": "2020-03-25T23:27:42.730Z",
            "updatedAt": "2020-03-25T23:27:42.730Z",
            "__v": 0
          }
      ]
    </pre>
    </div>

    <button type="button" class="collapsible beaut"><span class="method">GET</span>___api/user/:id___One beautician</button>
    <div class="content">
    <pre class="prettyprint">
      Result: 
        {
          "beautician": true,
          "clientImages": [
              "avaiable"
          ],
          "_id": "5e7be8ee4524a5f2682f1185",
          "name": "Sade Watkins",
          "image": "available",
          "location": "Mississauga",
          "typeOfService": "Waxing",
          "price": "100",
          "description": "Love what I do, and I'm good at my job.",
          "createdAt": "2020-03-25T23:27:42.730Z",
          "updatedAt": "2020-03-25T23:27:42.730Z",
          "__v": 0
      }
    </pre>
    </div>

    <button type="button" class="collapsible beaut"><span class="method">Post</span>___api/user/:id___Create an appointment</button>
    <div class="content">
    <pre class="prettyprint">
      Result: 
          {
            "_id": "5e7ce1e02466ad1e7b770127",
            "location": "Toronto",
            "user": "5e7cc05e33d30f18f264a9b9",
            "beautician": "5e7cc05e33d30f18f264a9be",
            "createdAt": "2020-03-26T17:09:52.425Z",
            "updatedAt": "2020-03-26T17:09:52.425Z",
            "__v": 0
          }
    </pre>
    </div>

    <button type="button" class="collapsible beaut"><span class="method">GET</span>___api/user/:id/appt___Display all the users appointments</button>
    <div class="content">
    <pre class="prettyprint">
    Result: 
    [
    {
        "_id": "5e7be8ee4524a5f2682f1189",
        "location": "Mississauga",
        "user": {
            "beautician": false,
            "clientImages": [],
            "_id": "5e7be8ee4524a5f2682f1181",
            "name": "Hassan Black",
            "createdAt": "2020-03-25T23:27:42.730Z",
            "updatedAt": "2020-03-25T23:27:42.730Z",
            "__v": 0
        },
        "beautician": {
            "beautician": true,
            "clientImages": [
                "avaiable"
            ],
            "_id": "5e7be8ee4524a5f2682f1185",
            "name": "Sade Watkins",
            "image": "available",
            "location": "Mississauga",
            "typeOfService": "Waxing",
            "price": "100",
            "description": "Love what I do, and I'm good at my job.",
            "createdAt": "2020-03-25T23:27:42.730Z",
            "updatedAt": "2020-03-25T23:27:42.730Z",
            "__v": 0
        },
        "createdAt": "2020-03-25T23:27:42.760Z",
        "updatedAt": "2020-03-25T23:27:42.760Z",
        "__v": 0
    }
    ]
    </pre>
    </div>

    <button type="button" class="collapsible beaut"><span class="method">DELETE</span>___api/user/appt/:id___Cancel a users appointment</button>
    <div class="content">
    <pre class="prettyprint">
      Result:
      null
    </pre>
    </div>

    <div class="centered">
    <p><span class="user">Everything about the Beautician</span></p>
    <button type="button" class="collapsible beaut"><span class="method">GET</span>___api/user/newbeautician/:id___The beautician form </button>
    <div class="content">
    <pre class="prettyprint">
      Result: 
      The beautician form is rendered. 
    </pre>
    </div>

    <button type="button" class="collapsible beaut"><span class="method">Put</span>___api/user/newbeautician/:id___Post a service</button>
    <div class="content">
    <pre class="prettyprint">
      Result: typeOfService: Hair stylist
      {
        "beautician": true,
        "clientImages": [],
        "_id": "5e7be8ee4524a5f2682f117e",
        "name": "Samia Farah",
        "createdAt": "2020-03-25T23:27:42.730Z",
        "updatedAt": "2020-03-26T01:39:46.757Z",
        "__v": 0,
        "typeOfService": "Hairstylist"
      }
    </pre>
    </div>

    <button type="button" class="collapsible beaut"><span class="method">Put</span>___api/user/newbeautician/:id___Update a beautician's profile</button>
    <div class="content">
    <pre class="prettyprint">
      Result: typeOfService: Tattoo Artist
      {
        "beautician": true,
        "clientImages": [],
        "_id": "5e7be8ee4524a5f2682f117e",
        "name": "Samia Farah",
        "createdAt": "2020-03-25T23:27:42.730Z",
        "updatedAt": "2020-03-26T01:51:38.944Z",
        "__v": 0,
        "typeOfService": "Tattoo Artist"
      }
    </pre>
    </div>

    <button type="button" class="collapsible beaut"><span class="method">DELETE</span>___api/user/newbeautician/:id___Delete a beautician's profile</button>
    <div class="content">
    <pre class="prettyprint">
      Result: 
      null
    </pre>
    </div>

    <div class="centered">
    <p><span class="user">Everything about Reviews</span></p>
    <button type="button" class="collapsible beaut"><span class="method">GET</span>___api/user/user-reviews/newForm___Display the review form</button>
    <div class="content">
    <pre class="prettyprint">
      Result: 
      The review form is rendered. 
    </pre>
    </div>

    <button type="button" class="collapsible beaut"><span class="method">GET</span>___api/user/user-reviews/:id___Display all the reviews a user has made</button>
    <div class="content">
    <pre class="prettyprint">
      Result: 
      [
      {
          "_id": "5e7cc0e4b97a08190d5e85b8",
          "user": {
              "beautician": false,
              "clientImages": [],
              "_id": "5e7cc05e33d30f18f264a9ba",
              "name": "John Smith",
              "createdAt": "2020-03-26T14:46:54.621Z",
              "updatedAt": "2020-03-26T14:46:54.621Z",
              "__v": 0
          },
          "beautician": {
              "beautician": true,
              "clientImages": [
                  "available"
              ],
              "_id": "5e7cc05e33d30f18f264a9be",
              "name": "Nadifa Abdi",
              "image": "available",
              "location": "Waterloo",
              "typeOfService": "Hairstylist",
              "price": "100",
              "description": "I've been in the industry for 10 years 
                              and worked with high profile celebrities",
              "createdAt": "2020-03-26T14:46:54.621Z",
              "updatedAt": "2020-03-26T14:46:54.621Z",
              "__v": 0
          },
          "content": "It was okay",
          "rating": 3,
          "createdAt": "2020-03-26T14:49:08.078Z",
          "updatedAt": "2020-03-26T15:21:09.572Z",
          "__v": 0
      },
      {
          "_id": "5e7cc1f1bd601a192d7916a6",
          "user": {
              "beautician": false,
              "clientImages": [],
              "_id": "5e7cc05e33d30f18f264a9ba",
              "name": "John Smith",
              "createdAt": "2020-03-26T14:46:54.621Z",
              "updatedAt": "2020-03-26T14:46:54.621Z",
              "__v": 0
          },
          "beautician": {
              "beautician": true,
              "clientImages": [
                  "avaiable"
              ],
              "_id": "5e7cc05e33d30f18f264a9c0",
              "name": "Sade Watkins",
              "image": "available",
              "location": "Mississauga",
              "typeOfService": "Waxing",
              "price": "100",
              "description": "Love what I do, and I'm good at my job.",
              "createdAt": "2020-03-26T14:46:54.621Z",
              "updatedAt": "2020-03-26T14:46:54.621Z",
              "__v": 0
          },
          "content": "It was great",
          "rating": 5,
          "createdAt": "2020-03-26T14:53:37.099Z",
          "updatedAt": "2020-03-26T15:18:45.233Z",
          "__v": 0
      }
  ]
      </pre>
      </div>

  <button type="button" class="collapsible beaut"><span class="method">GET</span>___api/user/beautician-reviews/:id___The reviews for a beautician</button>
  <div class="content">
  <pre class="prettyprint">
    Result: 
    [
    {
        "_id": "5e7cc0e4b97a08190d5e85b8",
        "user": {
            "beautician": false,
            "clientImages": [],
            "_id": "5e7cc05e33d30f18f264a9ba",
            "name": "John Smith",
            "createdAt": "2020-03-26T14:46:54.621Z",
            "updatedAt": "2020-03-26T14:46:54.621Z",
            "__v": 0
        },
        "beautician": {
            "beautician": true,
            "clientImages": [
                "available"
            ],
            "_id": "5e7cc05e33d30f18f264a9be",
            "name": "Nadifa Abdi",
            "image": "available",
            "location": "Waterloo",
            "typeOfService": "Hairstylist",
            "price": "100",
            "description": "I've been in the industry for 10 years 
                            and worked with high profile celebrities",
            "createdAt": "2020-03-26T14:46:54.621Z",
            "updatedAt": "2020-03-26T14:46:54.621Z",
            "__v": 0
        },
        "content": "It was okay",
        "rating": 3,
        "createdAt": "2020-03-26T14:49:08.078Z",
        "updatedAt": "2020-03-26T15:21:09.572Z",
        "__v": 0
    }
]
  </pre>
  </div>

  <button type="button" class="collapsible beaut"><span class="method">POST</span>___api/user/user-reviews/:id___Create a review</button>
  <div class="content">
  <pre class="prettyprint">
    Result: 
    {
      "_id": "5e7c1d221dad4e0048c5967b",
      "user": "5e7be8ee4524a5f2682f117e",
      "beautician": "5e7b8ee4524a5f2682f1185",
      "content": "Wasn't very happy",
      "rating": 2,
      "createdAt": "2020-03-26T03:10:26.401Z",
      "updatedAt": "2020-03-26T03:10:26.401Z",
      "__v": 0
  }
  </pre>
 </div>

  <button type="button" class="collapsible beaut"><span class="method">PUT</span>___api/user/user-reviews/:user_id/edit/:rev_id___Update a review</button>
  <div class="content">
  <pre class="prettyprint">
    Result: 
    {
      "_id": "5e7cc0e4b97a08190d5e85b8",
      "user": {
          "beautician": false,
          "clientImages": [],
          "_id": "5e7cc05e33d30f18f264a9ba",
          "name": "John Smith",
          "createdAt": "2020-03-26T14:46:54.621Z",
          "updatedAt": "2020-03-26T14:46:54.621Z",
          "__v": 0
      },
      "beautician": {
          "beautician": true,
          "clientImages": [
              "available"
          ],
          "_id": "5e7cc05e33d30f18f264a9be",
          "name": "Nadifa Abdi",
          "image": "available",
          "location": "Waterloo",
          "typeOfService": "Hairstylist",
          "price": "100",
          "description": "I've been in the industry for 10 years 
                          and worked with high profile celebrities",
          "createdAt": "2020-03-26T14:46:54.621Z",
          "updatedAt": "2020-03-26T14:46:54.621Z",
          "__v": 0
      },
      "content": "Had a great time, love my hair.",
      "rating": 5,
      "createdAt": "2020-03-26T14:49:08.078Z",
      "updatedAt": "2020-03-26T15:35:48.338Z",
      "__v": 0
  }
  </pre>
 </div>
</div> 

</body>
</html>