.BeautList {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 540px;
}

.white{
  background-color: white;
}

.card-img{
  height: 100%;
}

