
.Navbar {
  margin: 15px;
  justify-content: center;
  align-items: center;

}

.Navbar-link {
  margin: 0 10px;
}

.color {
  background-color: #e0e0eb;
}
  
.shadow {
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
}

button{ 
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  border: none;
}

button:hover { 
  background-color:#f0dbf0;
  /* box-shadow: 0px 15px 20px #f0dbf0; */
  color:black;
  transform: translateY(-7px);
  border-radius: 10px;
  border: 0.5px solid black; 
}

a.button, a.button:hover, a.button:active, a.button:visited, a.button:focus {
  text-decoration:none;
}