.LandingPage{
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    font-size: 35px;
    text-align: center;
}


.image {
    width: 60%;
    height:auto;
    display: block;
    margin-left: 8%;
    margin-right: auto;
}

.rowcolor{
    background-color:#ffcccc;
}

.textbox{
    background-color: #e0e0eb;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
}

.text{
    background-color: #e0e0eb;
}

.LandingPage-btn{
    background-color: #e0e0eb;
    border-radius: 25px;
}

.LandingPage-btn:hover{
    background-color: #e0e0eb;
}

.LandingText{
    margin-right:20px ;
}