*{
  margin: 0;
  padding: 0;
  background-color:#ffcccc;
}

.App {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#e0e0eb;
  justify-content: right;
}